*/enabled/*
.DS_Store
*.swp
.*.un~
*.*~
*.*~
*~
*.*.swo
*.swo
.swo

.website
website
.old
picture
.cfg
./recent_koan.py
./.old/today/website/code/anti_pattern_website/.meteor/local/build/server/node_modules
./.old/today/website/code/anti_pattern_website/.meteor/meteorite/packages/angularjs
./funcs.cfg
./blank.yaml
./regex.cfg
./website/angular-koans/node_modules/mocha/node_modules/.bin/jade
./website/angular-koans/node_modules/.bin/_mocha
./website/angular-koans/node_modules/.bin/mocha
./website/angular-koans/node_modules/.bin/express
./website/todos/.meteor/local/build/programs/ctl/node_modules
./website/todos/.meteor/local/build/programs/ctl/npm/logging/main/node_modules
./website/todos/.meteor/local/build/programs/ctl/npm/mongo-livedata/main/node_modules
./website/todos/.meteor/local/build/programs/ctl/npm/livedata/main/node_modules
./website/todos/.meteor/local/build/programs/ctl/npm/ctl-helper/main/node_modules
./website/todos/.meteor/local/build/programs/server/node_modules
./website/todos/.meteor/local/build/programs/server/npm/logging/main/node_modules
./website/todos/.meteor/local/build/programs/server/npm/handlebars/main/node_modules
./website/todos/.meteor/local/build/programs/server/npm/mongo-livedata/main/node_modules
./website/todos/.meteor/local/build/programs/server/npm/livedata/main/node_modules
./website/todos/.meteor/local/build/programs/server/npm/webapp/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/ctl/node_modules
./website/website/daily_picture/.meteor/local/build/programs/ctl/npm/logging/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/ctl/npm/mongo-livedata/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/ctl/npm/livedata/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/ctl/npm/ctl-helper/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/server/node_modules
./website/website/daily_picture/.meteor/local/build/programs/server/npm/logging/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/server/npm/handlebars/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/server/npm/mongo-livedata/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/server/npm/livedata/main/node_modules
./website/website/daily_picture/.meteor/local/build/programs/server/npm/webapp/main/node_modules
./website/website/daily_picture/.meteor/meteorite/packages/yaml
./website/parties/.meteor/local/build/programs/ctl/node_modules
./website/parties/.meteor/local/build/programs/ctl/npm/logging/main/node_modules
./website/parties/.meteor/local/build/programs/ctl/npm/mongo-livedata/main/node_modules
./website/parties/.meteor/local/build/programs/ctl/npm/livedata/main/node_modules
./website/parties/.meteor/local/build/programs/ctl/npm/ctl-helper/main/node_modules
./website/parties/.meteor/local/build/programs/server/node_modules
./website/parties/.meteor/local/build/programs/server/npm/email/main/node_modules
./website/parties/.meteor/local/build/programs/server/npm/logging/main/node_modules
./website/parties/.meteor/local/build/programs/server/npm/handlebars/main/node_modules
./website/parties/.meteor/local/build/programs/server/npm/mongo-livedata/main/node_modules
./website/parties/.meteor/local/build/programs/server/npm/livedata/main/node_modules
./website/parties/.meteor/local/build/programs/server/npm/webapp/main/node_modules
./assosiation.txt
./glossary.txt
./vars.cfg
./motivation.txt
