*/enabled/*
.DS_Store
custom
aliases/custom.aliases.bash
lib/custom.bash
plugins/custom.plugins.bash
ofer1/txt
*.swp
.*.un~
*.*~
*.*~
*~

*.*.swo
*.swo
.swo

.rvmrc
aliases
bin
completion
lib
plugins
template
themes
bash_it.sh
install.sh
work
blog
learn
scripts
commands.txt
