every(){

    #assert_equal_str "aa"
    local num=$1
    local cmd="$2"
    random1 $num
    local res=$?
    local output=''
    if [ $res -eq 0 ];then
       output=$(eval "$cmd")
    fi
echo "$output"
}

random_command(){

    notify-send 'random_command'
    local str1=''
    local file=$DATA_DIR/txt/glossary.txt
    local str1=$( pick_random_line $file )
    notify-send "Remind:" "$str1"

    #local str=''
    #str="!$tasks_sh task_from recent"

    echo "$str1"
}

random_story(){
    notify-send 'random_story'
    local str=''
    str=$(random_sentance2)
    echo "$str"
}

random_grammer(){

    notify-send 'random_grammer'
    local str=''
    str=$(random_sentance1)
    echo "$str"
}

random_sentance1(){
    random1 6
    local res=$?


    local str=''
    local subject=''
    if [ $res -eq 1 ];then
        subject="grammer?"
        #    str+=$(generate_line 'time')
        #    str+="|"
        str+=$(generate_line verb)
        #    str+="|"
        #    str+=$(generate_line noun)
    elif [ $str -eq 2 ];then
        subject="robot"
        str+=$(generate_line robot)
    elif [ $str -eq 3 ];then
        subject="higher_self"
        str+=$(generate_line higher_self)
    elif [ $str -eq 4 ];then
        subject="awesome"
        str+=$(generate_line awesome)
    else
        str=$(generate_line reason )
        str+=' because'

    fi

    #notify-send1 "$subject" "$str"
    echo "$str"

}


#http://www.commandlinefu.com/commands/matching/quote/cXVvdGU=/sort-by-votes
quote(){
    #local str=$(curl -Is slashdot.org | egrep '^X-(F|B|L)' | cut -d \- -f 2)
    #function google { Q="$@"; GOOG_URL='https://www.google.de/search?tbs=li:1&q='; AGENT="Mozilla/4.0"; stream=$(curl -A "$AGENT" -skLm 10 "${GOOG_URL}${Q//\ /+}" | grep -oP '\/url\?q=.+?&amp' | sed 's|/url?q=||; s|&amp||'); echo -e "${stream//\%/\x}"; }

    curl -s http://bash.org/?random1|grep -oE "<p class=\"quote\">.*</p>.*</p>"|grep -oE "<p class=\"qt.*?</p>"|sed -e 's/<\/p>/\n/g' -e 's/<p class=\"qt\">//g' -e 's/<p class=\"qt\">//g'|perl -ne 'use HTML::Entities;print decode_entities($_),"\n"'|head -1 > /tmp/random.txt
    local str=`cat /tmp/random.txt`
    notify-send 'random-world:' "$str"


}
tale(){

    exo-open http://teaching-tales.org/
}
file_exist(){
    trace "pick_line() got: $1"

    local file=$1
    local files1=$(ls  $file 2> /dev/null )
    if [ ! "$files1" ];then
        #error_handler 
        trace 'no file'
        return
    fi
}

pick_random_line(){
    local file=$1
    is_valid $file
    local res=$?
    if [ $res -eq 0 ];then
        trace 'no file'
        breakpoint

        return

    fi

    local str=`cat $file | sort --random-sort | head -n 1`

    trace "choosen line: "
    trace "$str"

    echo "$str" 
}

#
#random_line(){
#
#    local str=`cat $file | sort --random-sort | head -n 1`
#}
#
#quote

random_quote_before(){
    $tasks_sh motivation sport 

}

random_quote_after(){
    $tasks_sh motivation guidance 
}
random_from_subject1(){

    #notify-send "$*"  "$0" 
    local subject="$1"
    local file=$(get_filename1 txt $subject )
    local line=$(pick_line $file)
    echo "$line"
}
random1()
{
    local num="$1"
    if [ $num -eq 0 ];then
        #error_handler
        trace 'no num'
        return
    fi

    let "r = $RANDOM % $num"
    #green "r = $r"
    #counter=$r
    #let "reminder = $counter % 4"
    #echo1 "the reminder is: $reminder"
    return $r
}
pick_line(){
    local file=$1
    local str=$(pick_random_line $file)
    echo "$str"
}

random_sentance2(){
    random1 30
    local res=$?


    local str=''
    local subject=''
    if [ $res -eq 1 ];then
        subject="grammer?"
        #    str+=$(generate_line 'time')
        #    str+="|"
        str+=$(generate_line verb)
        #    str+="|"
        #    str+=$(generate_line noun)
    elif [ $str -eq 2 ];then
        subject="robot"
        str+=$(generate_line robot)
    elif [ $str -eq 3 ];then
        subject="higher_self"
        str+=$(generate_line higher_self)
    elif [ $str -eq 4 ];then
        subject="awesome"
        str+=$(generate_line awesome)
    else
        str=$(generate_line reason )
        str+=' because'

    fi

    #notify-send1 "$subject" "$str"
    echo "$str"

}

random_reason(){
    local str=$(generate_line reason )
    str+=' because'
    echo "$str"
}

export -f random_reason 
export -f pick_random_line
export -f quote 
export -f random1 
export -f random_from_subject1
export -f pick_random_line


export -f random_grammer
export -f random_command
export -f random_story


export -f random_sentance1
export -f random_sentance2

export -f pick_line 
export -f every 
