# === EDIT FILE LOCATIONS BELOW ===
echo "timer_dir is: $TIMER_DIR"
echo 'last good stuff:'

echo "linux+adb+shell: http://www.theandroidsoul.com/how-to-mount-nexus-4-on-linux-for-transferring-files/"



#export TIMER_DIR="$PWD/shit/timer.cfg"
# Your timer/done/report.txt locations

#export TIMER_DIR="$PWD/txt"
export TIMER_DIR=~/.bash_it/ofer1/txt
#export TIMER_FILE="$TIMER_DIR/timer.txt"
#export DONE_FILE="$TIMER_DIR/done.txt"
#export REPORT_FILE="$TIMER_DIR/report.txt"

export TODO_FILE="$TIMER_DIR/todo.txt"
export MEMORY_FILE="$TIMER_DIR/memory.txt"


export TIMEOUT1=20
export LESSON=13
export TRANSLATE=false

export SLEEP=60


#export ICONIC='' 
export ICONIC='-iconic'
export SLEEPS=15
export SUSPEND=true
export SILENCE=false
export DAILY_DIR="~/tmp/ofer/daily/"
export WEEKLY_DIR="~/tmp/ofer/weekly/"
export ESSAYS_DIR="~/tmp/ofer/essays/"

# You can customize your actions directory location
#export TIMER_ACTIONS_DIR="$HOME/.timer.actions.d"

# == EDIT FILE LOCATIONS ABOVE ===

# === COLOR MAP ===

## Text coloring and formatting is done by inserting ANSI escape codes.
## If you have re-mapped your color codes, or use the timer.txt
## output in another output system (like Conky), you may need to
## over-ride by uncommenting and editing these defaults.
## If you change any of these here, you also need to uncomment
## the defaults in the COLORS section below. Otherwise, timer.txt
## will still use the defaults!

# export BLACK='\\033[0;30m'
# export RED='\\033[0;31m'
# export GREEN='\\033[0;32m'
# export BROWN='\\033[0;33m'
# export BLUE='\\033[0;34m'
# export PURPLE='\\033[0;35m'
# export CYAN='\\033[0;36m'
# export LIGHT_GREY='\\033[0;37m'
# export DARK_GREY='\\033[1;30m'
# export LIGHT_RED='\\033[1;31m'
# export LIGHT_GREEN='\\033[1;32m'
# export YELLOW='\\033[1;33m'
# export LIGHT_BLUE='\\033[1;34m'
# export LIGHT_PURPLE='\\033[1;35m'
# export LIGHT_CYAN='\\033[1;36m'
# export WHITE='\\033[1;37m'
# export DEFAULT='\\033[0m'

# === COLORS ===

## Uncomment and edit to override these defaults.
## Reference the constants from the color map above,
## or use $NONE to disable highlighting.
#
# Priorities can be any upper-case letter.
# A,B,C are highlighted; you can add coloring for more.
#
# export PRI_A=$YELLOW        # color for A priority
# export PRI_B=$GREEN         # color for B priority
# export PRI_C=$LIGHT_BLUE    # color for C priority
# export PRI_D=...            # define your own
# export PRI_X=$WHITE         # color unless explicitly defined

# There is highlighting for tasks that have been done,
# but haven't been archived yet.
#
# export COLOR_DONE=$LIGHT_GREY

# === BEHAVIOR ===

## customize list output
#
# TIMERTXT_SORT_COMMAND will filter after line numbers are
# inserted, but before colorization, and before hiding of
# priority, context, and project.
#
# export TIMERTXT_SORT_COMMAND='env LC_COLLATE=C sort -f -k2'

# TIMERTXT_FINAL_FILTER will filter list output after colorization,
# priority hiding, context hiding, and project hiding. That is,
# just before the list output is displayed.
#
# export TIMERTXT_FINAL_FILTER='cat'
